
 
<web-app>

<display-name>My shopping webapp application</display-name>

	<servlet>
		<servlet-name>shoppingapp</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>

	</servlet>
	
	<servlet-mapping>
	
	<servlet-name>shoppingapp</servlet-name>
	<url-pattern>/</url-pattern>
	
	</servlet-mapping>
</web-app>
